settings_local.py
*.sqlite3
*.mo
/staticfiles/
/.vscode/
__pycache__/
/media/

# compiled output
/dist/
/tmp/

# dependencies
/node_modules/
/bower_components/

# misc
/.sass-cache/
/connect.lock/
/coverage/*
libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try/
/package.json.ember-try/

# backups
db.json