language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  - DJANGO=1.10
  - DJANGO=1.11

branches:
  only:
    - master

addons:
  postgresql: "9.4"

install:
  - cd conf
  - mv settings_local.py.txt settings_local.py
  - cd ..
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt

script:
  - coverage run --source=muss manage.py test

after_success:
  coveralls