psycopg2==2.8.4
psycopg2-binary==2.8.4
Django==2.2.28
django-admin-interface==0.5.8
channels==1.1.8
asgi-redis==1.4.2
asgiref==1.1.2
aioredis==1.2.0
redis==2.10.6
hiredis==1.0.0
msgpack==0.6.2
djangorestframework==3.8.2
djangorestframework-jsonapi==2.4.0
django-cors-headers==2.1.0
djangorestframework-jwt==1.11.0
mistune==2.0.3 # parser markdown
Pillow==9.0.1
