psycopg2==2.7.3.1
Django==2.1
django-admin-interface==0.5.8
channels==1.1.8
asgi-redis==1.4.2
djangorestframework==3.8.2
djangorestframework-jsonapi==2.4.0
django-cors-headers==2.1.0
djangorestframework-jwt==1.11.0
mistune==0.7.4 # parser markdown
Pillow==5.2.0
