{{#each notifications as |notification|}}
    <div class="item">
        {{item-notification notification=notification inDropdown=inDropdown}}
    </div>

    {{#if inDropdown}}
    <div class="line-separator"></div>
    {{else}}
    <div class="ui divider"></div>
    {{/if}}
{{/each}}

{{yield}}