<div class="ui comments" style="max-width: 80%">
  <h3 class="ui dividing header">{{gettext "Comments" }}</h3>

    {{#each comments as |comment|}}
        {{card-comment comment=comment}}
    {{/each}}

    {{reply-comment topic=topic comments=comments}}
</div>
<br />
{{yield}}
