<div class="ui mini menu">
    {{logo-app}}
    <div class="right menu">
        <div class="item">
            {{auth/login-form}}
        </div>
        <div class="item">
            {{auth/signup-form}}
        </div>
    </div>
</div>

<div class="ui container">
    {{outlet}}
</div>
