<!DOCTYPE HTML>
<html lang="{{ SETTINGS.LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns#">
<head>
    {% load i18n %}
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noodp">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <meta name="KEYWORDS" content="{{ configurations.keywords }}">

     {% block meta %}
        <meta property="og:title" content="{{ SETTINGS.SITE_NAME }}" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website">
        <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ SETTINGS.SITE_NAME }}">

        {% if configurations.description  %}
        <meta name="description" content="{{ configurations.description }}">
        <meta property="og:description" content="{{ configurations.description }}">
        <meta name="twitter:description" content="{{ configurations.description }}">
        {% endif %}

        <title> {{ SETTINGS.SITE_NAME }} </title>
    {% endblock %}

    {% if configurations.logo  %}
    <meta property="og:image" content="{{request.scheme}}://{{ request.get_host }}{{ SETTINGS.MEDIA_URL }}{{ configurations.logo }}" />
    <meta name="twitter:image" content="{{request.scheme}}://{{ request.get_host }}{{ SETTINGS.MEDIA_URL }}{{ configurations.logo }}">
    {% else %}
    <meta property="og:image" content="{{request.scheme}}://{{ request.get_host }}{% static 'img/muss.png' %}" />
    <meta name="twitter:image" content="{{request.scheme}}://{{ request.get_host }}{% static 'img/muss.png' %}">
    {% endif %}

    {% if configurations.favicon %}
        <link rel="shortcut icon" href="{{ SETTINGS.MEDIA_URL }}{{ configurations.favicon }}" type="image/png" />
    {% else %}
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'muss/dist/assets/vendor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'muss/dist/assets/muss.css' %}">
    <meta name="muss/config/environment" content="%7B%22modulePrefix%22%3A%22muss%22%2C%22environment%22%3A%22development%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22API_HOST%22%3A%22http%3A//localhost%3A8000%22%2C%22API_NAMESPACE%22%3A%22api%22%2C%22name%22%3A%22muss%22%2C%22version%22%3A%220.0.0+b381da13%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />

    <!-- Custom design -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>

<body>
    {% csrf_token %}
    {% block content %}{% endblock %}
    {% if SETTINGS.DEBUG %}
    <script src="http://localhost:7020/livereload.js?snipver=1" type="text/javascript"></script>
    {% endif %}

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ SETTINGS.GOOGLE_API_KEY }}" type="text/javascript"></script>    
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'muss/dist/assets/vendor.js' %}"></script>
    <script src="{% static 'muss/dist/assets/muss.js' %}"></script>

    <script>
        window.muss = {
            {% if configurations.logo  %}
            'logo': '{{request.scheme}}://{{ request.get_host }}{{ SETTINGS.MEDIA_URL }}{{ configurations.logo }}',
            'logo_width': '{{ configurations.logo_width }}',
            'logo_height': '{{ configurations.logo_height}}',
            {% else %}
            'logo': '{% static "img/muss.png" %}',
            'logo_width': '100',
            'logo_height': '45',
            {% endif %}
            'site_name': "{{ SETTINGS.SITE_NAME }}",
        }
    </script>

    <script>
        $(document).ready(function() {
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    toastr.success("{{ message|safe }}");
                {% else %}
                    {% if message.tags == 'error' %}
                        toastr.error("{{ message|safe }}");
                    {% else %}
                        toastr.info("{{ message|safe }}");
                    {% endif %}
                {% endif %}
            {% endfor %}
        });
    </script>
</body>
</html>