{% load i18n %}

<div class="ui container" >
    <div class="ui cards">
        <div class="card" style="width: 100%">
            <div class="content">
                <div class="header">
                    {% trans "The activation key has expired" %}
                </div>

                <h4>{% trans "Confirmation email" %}</h4>
                <div class="ui divider"></div>
                {% trans "The activation key has expired" %}
                <br>
                {% trans "Please click the following button to get a new activation key." %}

                <form action="{% url 'new_key_activation' %}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ token }}">
                    <input type="hidden" name="username" value="{{ username }}" />
                    <input type="submit" class="ui primary button" value='{% trans "New activation key" %}' />
                </form>
            </div>
        </div>
    </div>
</div>
