{% load i18n %}
<div class="ui container">
    <div class="ui cards">
        <div class="card" style="width: 100%">
            <div class="content">
                <div class="header">
                    {% trans "Congratulations" %}
                </div>
                <div class="description">
                    <h4>{% trans "Confirmation email" %}</h4>
                    <div class="ui divider"></div>
                    {% trans "Congratulations, you are now an active member of " %} {{ SETTINGS.SITE_NAME }}
                    <br>
                    {% trans "Thank you: " %} <b>{{ username }}</b>
                </div>
                <br />
                <a href="/" class="ui primary button">{% trans "Log in" %}</a>
            </div>
        </div>
    </div>
</div>

