{% extends 'muss/base_muss.html' %}

{% load i18n %}

{% trans "Please, you add forums and categories in the administrator." %}
{% trans "There are no forums created for the category" %}
{% trans "Total topics" %}
{% trans "Forums" %}
{% trans "Add topic" %}
{% trans "Register" %}
{% trans "Unregister" %}
{% trans "Topic" %}
{% trans "Answers" %}
{% trans "Visits" %}
{% trans "Last Activity" %}
{% trans "The forum does not contain topics." %}
{% trans "Total likes" %}
{% trans "Total comments" %}
{% trans "Reply" %}
{% trans "Add Reply" %}
{% trans "Views" %}
{% trans "Sign up" %}
{% trans "Sign in" %}
{% trans "First name" %}
{% trans "Last name" %}
{% trans "Forgot password?" %}
{% trans "By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use." %}
{% trans "Create my account" %}